<?xml version='1.0' encoding='utf-8'?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.google.android.gms.cast.framework" android:compileSdkVersion="34">

    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="34" />
    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <queries>
        <package android:name="com.google.android.gms.policy_cast_dynamite" />
    </queries>

    <application>
        <receiver android:name="com.google.android.gms.cast.framework.media.MediaIntentReceiver" android:exported="false" />

        <service android:name="com.google.android.gms.cast.framework.ReconnectionService" android:exported="false" />
    </application>

</manifest>